body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin-bottom: 0;
}

p {
  line-height: 2;
}

hr {
  border: 6px dotted #EAF6F6;
  border-bottom: unset;
  width: 4%;
  height: 0;
  margin: 100px auto;
}
a:hover{
  color: #EAF6F6;
}

.topContainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.topCloud {
  position: absolute;
  right: 300px;
  top: 30px;
}

.bottomCloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.programerParagraph {
  text-decoration: underline;
}

.programerHeader {
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 50px;
}

.middleContainer {
  margin: 100px 0;
}

.profilePicture {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.introParagraph {
  width: 40%;
  margin: 60px auto 0 auto;
}

.skilsHeading{
  padding-bottom: 0;
}
.contactMeParagraph {
  width: 40%;
  margin: 40px auto 50px auto;
}

.footerLink {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 70px auto 100px auto;
  text-align: left;
}

.skilsImage {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.problemSolving {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottomContainer {
  /* height:100px; */
  background-color: #66BFBF;
  padding: 5px;
  font-size: 12px;
}

.footerLink {
  margin-top: 50px;
  margin-left: 30px;
  line-height: 2;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
